
*{
  margin: 0px;
  padding: 0px;
}
ul li{
  list-style: none;
}
header{
  width: 1200px;
  margin: 0 auto;
}

header h1{
  text-align: center;
  padding-top: 25px;
}
footer{
  background: #333;
  padding: 10px 0px;
}
footer address{
  font-style: normal;
  color: #fff;
  line-height: 60px;
}